@{
    ViewBag.Title = "List";
}
@model AdventureWorksStore.WebUI.Models.ProductsListViewModel

@foreach (var m in Model.Products)
{
    @Html.Partial("ProductSummary", m);
}
<div class="pull-right btn-group">
    @Html.PageLinks(Model.PageInfo, s => Url.Action("List", new { page = s, category = Model.CurrentCategory }))
</div>